* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
}

body {
  background: #39297b;
  color: #fff;
  padding: 20px;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 600;
}

h4 {
  text-align: center;
  margin: 0px auto 0px;
}

form {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: auto;
  height: 70px;
  background: #434989;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  border-radius: 8px;
  margin-bottom: 40px;
}

form input {
  caret-color: #ff0000;
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 18px;
  padding: 0 30px;
}

form button {
  padding: 0 40px;
  height: 100%;
  background: #ff3929;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

form input::placeholder {
  color: #fff;
  font-size: 18px;
}

#show-more-btn {
  background: #ff3929;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: none;
}

#search-result {
  width: 90%;
  margin: 60px auto 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row: masonry;
  grid-gap: 40px;
}

#search-result img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 5px;
  border-radius: 10px;
}

.line {
  color: #ff0000;
}

@media (max-width: 800px) {
  #search-result{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  /* #search-result img{
    height: 100%;
  } */

  form {
    height: 40px;
  }

  form input {
    width: 20px;
  }

  form button {
    padding: 0 20px;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
  }
}
